<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <meta name="description" content=""></meta>
    <meta name="author" content=""></meta>

    <title>Vocabulário Online</title>

    <!-- Bootstrap Core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"></link>

    <!-- MetisMenu CSS -->
    <link th:href="@{/vendor/metisMenu/metisMenu.min.css}" rel="stylesheet"></link>

    <!-- Custom CSS -->
    <link th:href="@{/dist/css/sb-admin-2.css}" rel="stylesheet"></link>

    <!-- Morris Charts CSS -->
    <link th:href="@{/vendor/morrisjs/morris.css}" rel="stylesheet"></link>

    <!-- Custom Fonts -->
    <link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"></link>

    <!-- DataTables -->
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css"></link>



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<div th:replace="fragments/header :: header"/>
<div  class="container" id="wrapper">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Cadastro de Lista</strong>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" th:action="@{/listas/salvar}" method="POST" style="margin: 10px">
                <div class="form-group">
                    <fieldset th:object="${lista}">
                        <div class="form-group row">
                            <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                                <div th:each="detailedError : ${#fields.detailedErrors()}">
                                    <span th:text="${detailedError.message}"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-2">
                                <input type="text" class="form-control input-sm" id="id" th:field="*{id}" readOnly="readonly"/>
                            </div>
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-sm btn-primary btn-block">Atualizar</button>
                            </div>
                            <div class="col-md-2 col-md-offset-4">
                                <a class="btn btn-sm btn-info btn-block" th:href="@{/atividade/{id}/revisao/(id=${id})}">Revisão</a>
                            </div>
                            <div class="col-md-2">
                                <a class="btn btn-sm btn-warning btn-block" th:href="@{/atividade/{id}/traducao/(id=${id})}">Tradução</a>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-5" th:classappend="${#fields.hasErrors('nome')}? 'has-error'">
                                <label>Nome</label>
                                <input type="text" class="form-control input-sm" th:field="*{nome}" autofocus="autofocus" placeholder="Informe o nome da lista" maxlength="50"/>
                            </div>
                            <div class="col-md-5 col-md-offset-2" th:classappend="${#fields.hasErrors('idioma')}? 'has-error'">
                                <label>Idioma</label>
                                <input type="text" class="form-control input-sm" th:field="*{idioma}" autofocus="autofocus" placeholder="Idioma" maxlength="50"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-5 " th:classappend="${#fields.hasErrors('turma')}? 'has-error'">
                                <label>Turma</label>
                                <input type="text" class="form-control input-sm" th:field="*{turma}" autofocus="autofocus" placeholder="Informe a turma" maxlength="200"/>
                            </div>
                            <div class="col-md-5 col-md-offset-2" th:classappend="${#fields.hasErrors('pessoa.nome')}? 'has-error'">
                                <label>Proprietário</label>
                                <input type="text" class="form-control input-sm" th:field="*{pessoa.nome}" readOnly="readonly"/>
                                <input type="hidden" class="form-control input-sm" th:field="*{pessoa.id}" />
                            </div>
                        </div>
                    </fieldset>
                </div>
            </form>

                <form th:object="${novaFrase}" th:action="@{/listas/editar/{id}/frase(id=${lista.id})}" method="POST">
                    <div>
                        <table class="table table-sm table-striped table-hover table-bordered" id="minhasListas">
                            <thead>
                            <tr>
                                <th class="hidden" style="width:40px">ID</th>
                                <th>Idioma</th>
                                <th>Palavra</th>
                                <th>Frase</th>
                                <th>Tradução</th>
                                <th>Remover</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="frase : ${frases}">
                                <td class="hidden" th:text="${frase.id}"></td>
                                <td th:text="${frase.palavraFrase.palavra.idioma}"></td>
                                <td th:text="${frase.palavraFrase.palavra.palavra}"></td>
                                <td th:text="${frase.palavraFrase.frase}"></td>
                                <td th:text="${frase.palavraFrase.traducao}"></td>
                                <td class="center"><a class="btn btn-sm btn-primary" th:href="@{/listas/editar/{id}/frase/{fid}(id=${lista.id}, fid=${frase.id})}" ><span class="glyphicon glyphicon-remove"></span></a></td>
                            </tr>
                            <tfoot>
                            <tr>
                                <td class="hidden"></td>
                                <td><input type="text" class="form-control input-sm" th:field="*{idioma}" autofocus="autofocus" placeholder="Idioma" maxlength="32"/></td>
                                <td><input type="text" class="form-control input-sm" th:field="*{palavra}" autofocus="autofocus" placeholder="Palavra" maxlength="50"/></td>
                                <td><input type="text" class="form-control input-sm" th:field="*{frase}" autofocus="autofocus" placeholder="Frase" maxlength="255"/></td>
                                <td><input type="text" class="form-control input-sm" th:field="*{traducao}" autofocus="autofocus" placeholder="Tradução" maxlength="255"/></td>
                                <td class="center"><button type="submit" class="btn btn-success btn-block">Adicionar</button></td>
                            </tr>
                            </tfoot>
                            </tbody>
                        </table>
                    </div>
                </form>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"/>

<!-- jQuery -->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>

<!-- Bootstrap Core JavaScript -->
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script th:src="@{/vendor/metisMenu/metisMenu.min.js}"></script>

<!-- Morris Charts JavaScript -->
<script th:src="@{/vendor/raphael/raphael.min.js}"></script>
<script th:src="@{/vendor/morrisjs/morris.min.js}"></script>
<script th:src="@{/data/morris-data.js}"></script>

<!-- Custom Theme JavaScript -->
<script th:src="@{/dist/js/sb-admin-2.js}"></script>

<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<!-- <script src="vendor/datatables-plugins/dataTables.bootstrap.min.js"></script> -->
<!-- <script src="vendor/datatables-responsive/dataTables.responsive.js"></script> -->

<script>
    $(document).ready(function() {
        $('#minhasListas').DataTable({
        "language": {
            "lengthMenu": "_MENU_ resultados por página",
            "zeroRecords": "Nenhum registro encontrado",
            "info": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
            "infoEmpty": "Mostrando 0 até 0 de 0 registros",
   "search": "Pesquisar",
   "InfoPostFix": "",
   "EmptyTable": "Nenhum registro encontrado",
   "InfoThousands": ".",
   "LoadingRecords": "Carregando...",
   "Processing": "Processando...",
            "infoFiltered": "(Filtrados de _MAX_ registros)",
   "paginate": {
    "next": "Próximo",
    "previous": "Anterior",
    "first": "Primeiro",
    "last": "Último"
   }
  }
  ,"pageLength": -1,
  "dom": "lfrti",
  "info": false,
  "bLengthChange": false
  });

    });
 </script>

<style>
        .hidden{
            display:none;
        }
		.center{
			text-align: center;
		}

		th{
			margin: 0px;
		}

		input{
			width: 100%;
		}

		body { background: rgba(196, 234, 194, 1) !important; }

		.dataTable > thead > tr > th[class*="sort"]:after{
			content: "" !important;
		}

		table.dataTable thead > tr > th.sorting_asc,
		table.dataTable thead > tr > th.sorting_desc,
		table.dataTable thead > tr > th.sorting,
		table.dataTable thead > tr > td.sorting_asc,
		table.dataTable thead > tr > td.sorting_desc,
		table.dataTable thead > tr > td.sorting {
			padding-right: inherit;
		}
	</style>
</body>
</html>